<div style="background-color:#6699ff;">
<div class="container" >
  <h2 align=center>Welcome!<h2>
  <h3>Historical S&P 500 Stock Prices</h3>
  <table class="table-bordered table-condensed" align="left" style="background-color:#b3ccff;">
    <th align="center">Shiller P/E<br />Decile</th><th align="center">1-month<br />Performance</th>
          <th align="center">3-month<br />Performance</th><th align="center">6-month<br />Performance</th>
          <th align="center">1-year<br />Performance</th><th align="center">3-year<br />Performance</th>
          <th align="center">5-year<br />Performance</th>
    <% @all_data.each do |line| %>
      <tr>
        <td class="col-xs-" align="center"><%= line.date %></td>
        <td class="col-xs-" align="center"><%= number_to_currency(line.sp500_price) %></td>
        <td class="col-xs-" align="center"><%= number_with_precision(line.shiller_pe, :precision => 2) %></td>
        <td class="col-xs-" align="center"><%= number_to_currency(line.mo_divs) %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
