<h1>Conclusions</h1>
<p></p>
<br>
<h2>Further Reading</h2>
<ul>
  <li><a href="http://finance.yahoo.com/news/robert-shiller-interprets-what-the-cape-ratio-says-about-the-market-today-102737135.html">Robert Shiller warns against dumping stocks because of the high 'CAPE' ratio</a></li>
</ul>
