<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 400px; min-width: 310px"></div>

<div id="line-basic-1" style="height: 500px; min-width: 500px"></div>
        <script>
            $(function() {

                $.getJSON("https://www.quandl.com/api/v3/datasets/MULTPL/SP500_INFLADJ_MONTH.json?start_date=1916-11-01&api_key=CRusVu2YyQN9Kz7UJppf"), function(data) {
                    // Create the chart
                    $('#line-basic-1').highcharts('StockChart', {


                        rangeSelector : {
                            selected : 1
                        },

                        title : {
                            text : 'S&P 500 Index Price (Inflation Adjusted)'
                        },

                        series : [{
                            name : 'S&P 500 Index',
                            data : data,
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
                    });
                });

            });
        </script>
