<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 600px; width: 100%"></div>

<script>
dataUrl = "http://localhost:3000/api/v1/data"
window.fetch(dataUrl).then((res) => res.json()).then(json => {
    // console.table(json)
    const series = [...Array(3)].map((v, i) => {
    	const data = json.map((o) => {
        return [ Date.parse(o.date), Number(o[Object.keys(o)[i+2]]) ]
      })
      return {data: data}
    })
    // console.table(series)
    const options = {
    	series: series,
      xAxis: {
      	type: 'datetime'
      },
      yAxis: [{ // Primary yAxis
    floor: 50,
    ceiling: 2250,
    floorlabels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    },
    title: {
        text: 'S&P 500 Index Price',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    }
}, { // Secondary yAxis
    floor: 4,
    ceiling: 45,
    title: {
        text: 'Shiller P/E Value',
        style: {
            color: Highcharts.getOptions().colors[0]
        }
    },
    labels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[0]
        }
    },
    opposite: true
}],
    }
    const chart = Highcharts.chart('container', options)
  }
)
</script>
